# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/src/client/node_modules
/src/client/.pnp
/src/client.pnp.js

# environment variables
/.env
/src/client/.env

# production
/src/client/build
